* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --bg-dark: rgba(0, 0, 0, 0.88);
  --bg-blue: rgba(87, 184, 255, 1);
  --text-light: rgba(255, 255, 255, 1);
  --text-yellow: rgba(250, 196, 34, 1);
  --text-grey: rgba(153, 153, 153, 1);  
  --bg-black: rgba(0, 0, 0, 1);
  --bg-shrink: brown;
}
.dark {
  --bg-dark: rgba(87, 184, 255, 1);
  --bg-black: rgb(20, 19, 19);
  --bg-blue: rgba(253, 8, 8, 0.88);
  --text-light: rgb(255, 255, 255);
} 
html,body{
  background-color: black;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
}
#hamburger {
  color: var(--text-light);
  font-size: 40px;
  display: flex;
  display: none;
  /* display: flex; */
}
.another {
  background-image: linear-gradient(
  to right,
  rgba(0, 0, 0, 1) 50%,
  rgba(87, 184, 255, 1) 50%
  );
}
header {
  font-family: "Orbitron", sans-serif;
}
.hibek {
  color: var(--text-light);
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  border: 2px solid rgba(255, 255, 255, 1);
  padding: 16px 32px;
  cursor: pointer;
  width: auto;
  display: inline-block;
}
.menu_link:hover {
  color:var(--text-yellow);
  transition: 0.5s;
}
.menu_link {
  color: var(--text-light);
  font-family: Orbitron;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  transition: 0.5s;
}
.site_menu {
  display: flex;
  gap: 60px;
}
.site_moon {
  display: flex;
  gap: 24px;
  /* display: none; */
}

.zorkubro {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color:var(--bg-blue);
}
.aya {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 209px;
  padding-bottom: 14px;
}
.section_h {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin: 20px 0;
}
.section_h {
  color: var(--text-light);
}
.color {
  background-image: linear-gradient(
  to right,
  var(--bg-black) 50%,
  var(--bg-blue) 50%
  );
  display: flex;
}
.color .container {
  display: flex;
  
}
.Lorem-p {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  
  color:var(--text-grey);
}
.btn-p {
  color: rgba(255, 255, 255, 1);
  /* border: 2px solid rgba(255, 255, 255, 1); */
  padding: 21px 34px;
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: capitalize;
  background-color: var(--bg-blue);
  cursor: pointer;
  width: auto;
  display: inline-block;
}
.button {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 53px;
}
.p-nam {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: var(--text-light);
  gap: 50px;
}
.color .rasm{
  max-width: 660px;
}
.color .rasm img{
  margin-top: 114px;
  width: 100%;
}
.yellow_place {
  background-color:var(--text-yellow);
}
.yellow_h {
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 27px;
  padding-top: 130px;
}
.yellow_p {
  padding-top: 27px;
  font-family: Orbitron;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color:var(--text-grey);
}
.yellow_logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 44px;
  gap: 32px;
}
.last_page {
  background-image: url(./images/orqa_fon.png);
}
.suvdekbul {
  display: flex;
  gap: 30px;
}
.var {
  padding-top: 30px;
  display: flex;
  gap: 30px;
}
.alyo {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0%;
  color:var(--text-light);
  text-transform: capitalize;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.section_p2 {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color:var(--bg-blue);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  
  
}
.akabek{
  background-color: var(--bg-black);
  
  font-family: Orbitron;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color:var(--bg-blue);
  display: flex;
  align-items: center;
  gap: 14px;
  
}
.yozuvliqoraaka{
  font-family: Orbitron;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--text-light);
}
.gg{
  font-family: Orbitron;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color:var(--text-grey);
}
.hi{
  width: 492;
  height: 550;
  top: -0.42px;
  left: 0.02px;
  opacity: 0.4;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}
.cap_man {
  background-color:var(--bg-black);
}
.birinchi {
  padding-bottom: 32px;
}
.mum {
  display: flex;
  padding: 32px;
}
.oyin_img {
  display: flex;
}
.hibekaka{
  width: 100%;
  display: flex;
  text-align: center;
  /* display: none; */
}
.kal{
  font-family: Orbitron;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  letter-spacing: 0%;
  text-align: center;
  color:var(--bg-black);
  background-image: url(./images/sariqcha.svg);
}
.ak{
  font-family: Orbitron;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 90px;
  color: var(--text-grey);
}
.hibro{
  color: rgba(255, 255, 255, 1);
  padding: 21px 34px;
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;
    line-height: 28px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color:var(--text-grey);
  cursor: pointer;
  width: auto;
  display: inline-block;
}
.club-cards {
  padding: 64px 0 87px;
  display: flex;
  gap: 24px;
}
.club-card_big {
  width: 648px;
}
.card-big_footer {
  padding: 54px 41px 0 0;
}
.card-big_footer h6 {
  padding-bottom: 28px;
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  color: var(--bg-blue);
}
.card-big_footer h4 {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--text-light);
}

.club-card_smalls {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 24px;
}
.club-card_small {
  width: 312px;
}
.card-small_footer {
  padding: 30px 31px 0 0;
}
.card_small-footer h6 {
  padding-bottom: 20px;
  font-family: Orbitron;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  color:var(--bg-blue)
}
.card_small-footer h4 {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--text-light);
}
@media(max-width:1671){
.mum{
  flex-wrap: wrap;
  justify-content: center;
}
.music_img{
  flex-wrap: wrap;
  justify-content: center;
}
}
@media (max-width: 1360px) {
  .club-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .club-card_smalls {
    justify-content: center;
  }
}
@media(max-width:1335){
  .last_page{
    flex-wrap: wrap;
  font-size: 500px;
  }

}
/* media */
@media(max-width:1335px){
  .suvdekbul{
    flex-wrap: wrap;
    justify-content: center;
  }
  .var{
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width:1031px) {
  nav {
    flex-wrap: wrap;
    /* display: none; */
  }
  #hamburger {
    display: block;
  }
  .site_menu {
    order: 1;
    margin-left: 50%;
    transform: translateX(-50%);
    display: none;
  }

}

@media (max-width:1000px) {
  .color .container{
    flex-direction: column;
  }
}

@media (max-width:700px) {
  .section_h{
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 678px) {
  .card-big_header img {
    width: 100%;
  }
}
@media (max-width: 660px) {
  .card-big_footer h4 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width:550px) {
  .logo img {
    width: 100%;
  }
  .site_menu{
    flex-wrap: wrap;
    margin: 0;
    transform: translateX(0);
  }
}
@media (max-width:460px) {
  .suvdekbul{
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width:460px) {
  .bitta .button {
    flex-direction: column;
  }
}

@media (max-width:443px) {
  .section_h{
    font-size: 35px;
    line-height: 30px;
  }
}
@media (max-width: 390px) {

  .card-big_footer {
    padding-right: 1px;
  }
}
@media (max-width: 345px) {
  .card_small-header img {
    width: 100%;
  }
  .club-card_small {
    width: 100%;
  }
  .card_small-footer h4 {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 330px) {
  .card-big_footer h4 {
    font-size: 20px;
    line-height: 20px;
  }
}